<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
     <extension
         point="org.eclipse.ui.editors">
      <editor
            name="%editor.name"
            extensions="pkb,sql,pks,prc,pkh,pkdb,pkg,ora,pck"
            icon="icons/at_no_alpha.png"
            contributorClass="plsqleditor.editors.MultiPagePlsqlEditorContributor"
            class="plsqleditor.editors.MultiPagePlsqlEditor"
            id="plsqleditor.editors.PlSqlEditor">
      </editor>
   </extension>
   <!--extension
         id="PlSqlDocumentSetupParticipant"
         name="PL SQL Document Setup"
         point="org.eclipse.core.filebuffers.documentSetup">
      <participant
            class="plsqleditor.editors.PlSqlDocumentSetupParticipant"
            extensions="pkb,PKB,sql,SQL,pks,PKS,prc,PRC,pkh,PKH,pkdb,pkg,PKG,ora,ORA"/>
   </extension-->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="plsqleditor.preferences.PlSqlPreferencePage"
            id="plsqleditor.preferences.PlSqlPreferencePage"
            name="%page.name"/>
      <page
            category="plsqleditor.preferences.PlSqlPreferencePage"
            class="plsqleditor.preferences.DbSetupPreferencePage"
            id="plsqleditor.preferences.DbSetupPreferencePage"
            name="%page.name.0"/>
      <page
            name="%page.name.1"
            category="plsqleditor.preferences.PlSqlPreferencePage"
            class="plsqleditor.preferences.PlsqlEditorPreferencePage"
            id="plsqleditor.preferences.PlsqlEditorPreferencePage">
      </page>
      <page
            category="plsqleditor.preferences.PlsqlEditorPreferencePage"
            class="plsqleditor.preferences.FormattingPreferencePage"
            id="plsqleditor.preferences.PlSqlPreferencePage"
            name="%page.name.2"/>
      <page
            category="plsqleditor.preferences.PlsqlEditorPreferencePage"
            class="plsqleditor.preferences.MarkOccurrencesPreferencePage"
            id="plsqleditor.editor.preferences.MarkOccurrencesPreferencePage"
            name="%page.name.3" />
      <page
            category="plsqleditor.preferences.PlsqlEditorPreferencePage"
            class="plsqleditor.preferences.FoldingPreferencePage"
            id="plsqleditor.editor.preferences.FoldingPreferencePage" 
            name="%page.name.4" />
      <page
            category="plsqleditor.preferences.PlSqlPreferencePage"
            class="plsqleditor.preferences.TemplatesPreferencePage"
            id="plsqleditor.preferences.TemplatesPreferencePage"
            name="%page.name.5"/>
      <page
            category="plsqleditor.preferences.PlSqlPreferencePage"
            class="plsqleditor.preferences.PlDocPreferencePage"
            id="plsqleditor.preferences.PlDocPreferencePage"
            name="%page.name.6"/>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="plsqleditor.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="plsqleditor.bodyfileresourcepopups"
            nameFilter="*.pkb"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="plsqleditor.menu3"
               label="%menu.label"
               path="additions">
            <groupMarker name="group3"/>
         </menu>
         <action
               class="plsqleditor.popup.actions.GenerateHeaderAction"
               definitionId="plsqleditor.generateHeader"
               enablesFor="+"
               icon="icons/pencil.gif"
               id="plsqleditor.generateHeader.action"
               label="%action.label"
               menubarPath="plsqleditor.menu3/group3"/>
      </objectContribution>
      <objectContribution
            id="plsqleditor.allfileresourcepopups"
            nameFilter="*.pk*"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="plsqleditor.menu"
               label="%menu.label.0"
               path="additions">
            <separator name="group1"/>
         </menu>
         <action
               class="plsqleditor.actions.ResourceMenuOpenFileAction"
               definitionId="plsqleditor.loadToDatabase"
               enablesFor="1"
               icon="icons/database_down.png"
               id="plsqleditor.loadToDatabase.action"
               label="%action.label.0"
               menubarPath="plsqleditor.menu/group1"/>
         <action
               class="plsqleditor.actions.ResourceMenuOpenFileAction"
               definitionId="plsqleditor.refreshErrorStatus"
               enablesFor="+"
               icon="icons/togglepresentation.gif"
               id="plsqleditor.refreshErrorStatus.action"
               label="%action.label.1"
               menubarPath="plsqleditor.menu/group1"/>
         <action
               class="plsqleditor.popup.actions.ExecutePlDocAction"
               definitionId="plsqleditor.generatePlDoc"
               enablesFor="+"
               icon="icons/generatePlDoc.gif"
               id="plsqleditor.generatePlDoc.action"
               label="%action.label.2"
               menubarPath="plsqleditor.menu/group1"/>
         <action
               class="plsqleditor.actions.EditorMenuAction"
               definitionId="plsqleditor.formatSource"
               enablesFor="1"
               icon="icons/togglepresentation.gif"
               id="plsqleditor.formatSource.action"
               label="%action.label.3"
               menubarPath="plsqleditor.menu/group1"/>
      </objectContribution>
      <viewerContribution
            id="plsqleditor.texteditorpopups"
            targetID="#TextEditorContext">
         <menu
               id="plsqleditor.edit.menu"
               label="%menu.label.1"
               path="group.edit">
            <groupMarker name="editgroup"/>
         </menu>
         <action
               class="plsqleditor.actions.EditorMenuAction"
               definitionId="plsqleditor.lowerCase"
               enablesFor="+"
               icon="icons/Down.gif"
               id="plsqleditor.lowerCase.action"
               label="%plsqleditor.lowerCase.description"
               menubarPath="plsqleditor.edit.menu/editgroup"
               tooltip="%action.tooltip"/>
         <action
               class="plsqleditor.actions.EditorMenuAction"
               definitionId="plsqleditor.upperCase"
               enablesFor="+"
               icon="icons/Up.gif"
               id="plsqleditor.upperCase.action"
               label="%plsqleditor.upperCase.description"
               menubarPath="plsqleditor.edit.menu/editgroup"
               tooltip="%action.tooltip.0"/>
         <action
               class="plsqleditor.actions.EditorMenuAction"
               definitionId="plsqleditor.commentblock"
               enablesFor="*"
               icon="icons/sample.gif"
               id="plsqleditor.commentblock.action"
               label="%plsqleditor.commentblock.description"
               menubarPath="plsqleditor.edit.menu/editgroup"
               tooltip="%action.tooltip.1"/>
         <action
               class="plsqleditor.actions.EditorMenuAction"
               definitionId="plsqleditor.uncommentblock"
               enablesFor="*"
               icon="icons/sample.gif"
               id="plsqleditor.uncommentblock.action"
               label="%plsqleditor.uncommentblock.description"
               menubarPath="plsqleditor.edit.menu/editgroup"
               tooltip="%action.tooltip.2"/>
         <action
               class="plsqleditor.actions.EditorMenuAction"
               definitionId="plsqleditor.generatePlDoc"
               enablesFor="+"
               icon="icons/generatePlDoc.gif"
               id="plsqleditor.generatePlDoc.action"
               label="%action.label.4"/>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
	        categoryId="org.eclipse.ui.category.navigate"
	        description="%command.description"
	        id="plsqleditor.commands.jumpToBracket"
	        name="%command.name" />
      <command
            categoryId="plsql.editor"
            description="%command.description.0"
            id="plsql.file.lookup"
            name="%command.name.0"/>
      <command
            categoryId="plsql.editor"
            description="%command.description.1"
            id="plsqleditor.loadToDatabase"
            name="%command.name.1"/>
      <command
            categoryId="plsql.editor"
            description="%command.description.2"
            id="plsqleditor.generateHeader"
            name="%command.name.2"/>
      <command
            categoryId="plsql.editor"
            description="%command.description.3"
            id="plsqleditor.refreshErrorStatus"
            name="%command.name.3"/>
      <command
            categoryId="plsql.editor"
            description="%command.description.4"
            id="plsql.file.executeSql"
            name="%command.name.4"/>
      <command
            categoryId="plsql.editor"
            description="%command.description.5"
            id="plsqleditor.lowerCase"
            name="%command.name.5"/>
      <command
            categoryId="plsql.editor"
            description="%command.description.6"
            id="plsqleditor.upperCase"
            name="%command.name.6"/>
      <command
            categoryId="plsql.editor"
            description="%command.description.7"
            id="plsqleditor.commentblock"
            name="%command.name.7"/>
      <command
            categoryId="plsql.editor"
            description="%command.description.8"
            id="plsqleditor.uncommentblock"
            name="%command.name.8"/>
      <category
            id="plsql.editor"
            name="%category.name"/>
      <command
            categoryId="plsql.editor"
            description="%command.description.9"
            id="plsqleditor.generatePlDoc"
            name="%command.name.9"/>
      <command
            categoryId="plsql.editor"
            description="%command.description.10"
            id="plsqleditor.changeSchemaForPackage"
            name="%command.name.10"/>
      <command
            categoryId="plsql.editor"
            id="plsqleditor.generateHeaderAndLoadBoth"
            name="%command.name.11">
      </command>
      	
      <command
            categoryId="plsql.editor"
            id="boomsticks.plsqleditor.loadSchema"
            name="%command.name.12">
      </command>
      <command
            categoryId="plsql.editor"
            id="boomsticks.plsqleditor.loadSourceFromDb"
            name="%command.name.13">
      </command>
      <command
            categoryId="plsql.editor"
            id="boomsticks.plsqleditor.showGrants"
            name="%command.name.14">
      </command>
      <command
            categoryId="plsql.editor"
            id="boomsticks.plsqleditor.compareToDb"
            name="%command.name.15">
      </command>
      <command
            categoryId="plsql.editor"
            id="boomsticks.plsqleditor.showDetails"
            name="%command.name.16">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="plsqleditor.actionSet"
            label="%actionSet.label"
            visible="false">
         <menu
               id="plSqlMenu"
               label="%menu.label.2"
               path="additions">
            <separator name="plsqlGroup"/>
         </menu>
         <action
               class="plsqleditor.actions.LookupFileAction"
               definitionId="plsql.file.lookup"
               icon="icons/srch.gif"
               id="plsqleditor.actions.LookupFileAction"
               label="%action.label.5"
               menubarPath="plSqlMenu/plsqlGroup"
               style="push"
               toolbarPath="plsqlGroup"
               tooltip="%action.tooltip.3"/>
         <action
               class="plsqleditor.actions.WorkBenchWindowAction"
               definitionId="plsql.file.executeSql"
               icon="icons/runscript_16.gif"
               id="plsql.file.executeSql.action"
               label="%action.label.6"
               menubarPath="plSqlMenu/plsqlGroup"
               style="push"
               toolbarPath="plsqlGroup"
               tooltip="%action.tooltip.4"/>
         <action
               class="plsqleditor.actions.WorkBenchWindowAction"
               definitionId="plsqleditor.lowerCase"
               icon="icons/Down.gif"
               id="plsqleditor.lowerCase.action"
               label="%action.label.7"
               menubarPath="plSqlMenu/plsqlGroup"
               style="push"
               toolbarPath="plsqlGroup"
               tooltip="%action.tooltip.5"/>
         <action
               class="plsqleditor.actions.WorkBenchWindowAction"
               definitionId="plsqleditor.upperCase"
               icon="icons/Up.gif"
               id="plsqleditor.upperCase.action"
               label="%action.label.8"
               menubarPath="plSqlMenu/plsqlGroup"
               style="push"
               toolbarPath="plsqlGroup"
               tooltip="%action.tooltip.6"/>
         <action
               class="plsqleditor.actions.WorkBenchWindowAction"
               icon="icons/target.gif"
               id="plsqleditor.showDebugInfo.action"
               label="%action.label.9"
               menubarPath="plSqlMenu/plsqlGroup"
               style="push"
               toolbarPath="plsqlGroup"
               tooltip="%action.tooltip.7"/>
         <action
               class="plsqleditor.actions.WorkBenchWindowAction"
               icon="icons/forward.gif"
               id="plsql.db.commit.action"
               label="%action.label.10"
               menubarPath="plSqlMenu/plsqlGroup"
               style="push"
               toolbarPath="plsqlGroup"
               tooltip="%action.tooltip.8"/>
         <action
               class="plsqleditor.actions.WorkBenchWindowAction"
               icon="icons/back.gif"
               id="plsql.db.rollback.action"
               label="%action.label.11"
               menubarPath="plSqlMenu/plsqlGroup"
               style="push"
               toolbarPath="plsqlGroup"
               tooltip="%action.tooltip.9"/>
         <action
               class="plsqleditor.actions.ManageLiveConnectionsAction"
               definitionId="plsql.db.manageLiveConnections"
               icon="icons/manageConnections.gif"
               id="plsqleditor.actions.ManageLiveConnectionsAction"
               label="%action.label.12"
               menubarPath="plSqlMenu/plsqlGroup"
               style="push"
               toolbarPath="plsqlGroup"
               tooltip="%action.tooltip.10">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="plsql.editor"
            name="%context.name"
            description="%context.description"
            parentId="org.eclipse.ui.textEditorScope"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="plsql.editor"
            name="%category.name.0"/>
      <view
            category="plsql.editor"
            class="plsqleditor.views.ScratchPadView"
            icon="icons/pencil.gif"
            id="plsqleditor.views.ScratchPadView"
            name="%view.name"/>
      <view
            category="plsql.editor"
            class="plsqleditor.views.schema.SchemaBrowserView"
            icon="icons/browse.gif"
            id="plsqleditor.views.SchemaBrowserView"
            name="%view.name.0"/>
      <view
            category="plsql.editor"
            class="plsqleditor.views.DbmsOutputView"
            icon="icons/book.gif"
            id="plsqleditor.views.DbmsOutputView"
            name="%view.name.1"/>
   </extension>
   <extension
      point="org.eclipse.compare.contentMergeViewers">
      <viewer
            extensions="pkbx"
            class="plsqleditor.compare.PlsqlContentViewerCreator"
            id="plsqleditor.compare.PlsqlContentViewerCreator">
      </viewer>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="plsqleditor.perspective">
         <actionSet id="plsqleditor.actionSet"/>
         <view
               id="plsqleditor.views.ScratchPadView"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.views.TaskList"/>
         <view
               id="plsqleditor.views.DbmsOutputView"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.views.TaskList"/>
         <view
               id="plsqleditor.views.SchemaBrowserView"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.views.ResourceNavigator"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="plsqleditor.Perspective"
            fixed="false"
            icon="icons/at.png"
            id="plsqleditor.perspective"
            name="%perspective.name"/> 
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="plsqleditor.loadToDatabase"
            contextId="plsql.editor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Alt+L"/>
      <key
            commandId="plsql.file.lookup"
            contextId="plsql.editor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F3"/>
      <scheme
            id="plsqleditor.keys"
            name="%scheme.name"/>
      <key
            commandId="plsqleditor.generateHeader"
            contextId="plsql.editor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Alt+H"/>
      <key
            commandId="plsqleditor.refreshErrorStatus"
            contextId="plsql.editor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Alt+R"/>
      <key
            commandId="plsql.file.executeSql"
            contextId="plsql.editor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Alt+E"/>
      <key
            commandId="plsqleditor.lowerCase"
            contextId="plsql.editor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Alt+O"/>
      <key
            commandId="plsqleditor.upperCase"
            contextId="plsql.editor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Alt+U"/>
      <key
            commandId="plsqleditor.commentblock"
            contextId="plsql.editor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+/"/>
      <key
            commandId="plsqleditor.uncommentblock"
            contextId="plsql.editor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+/"/>
      <key
            commandId="plsqleditor.generatePlDoc"
            contextId="plsql.editor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Alt+D"/>
      <key
            commandId="plsqleditor.commands.jumpToBracket"
            contextId="plsql.editor"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+P" />            
      <!--key
            sequence="M1+M2+P"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            commandId="plsqleditor.commands.jumpToBracket"
            contextId="plsql.editor" /-->            
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <contextType name="%plsql.contextType.name" class="plsqleditor.template.PlSqlContextType" id="plsqleditor.template.plsql" /> 
      <contextType name="%pldoc.contextType.name" class="plsqleditor.template.PlDocContextType" id="plsqleditor.template.pldoc" /> 
      <include file="templates/plsql.xml" translations="templates/plsql.properties" />
      <resolver
            class="plsqleditor.template.PlSqlExceptionResolver"
            contextTypeId="plsqleditor.template.plsql"
            description="%plsql.resolvers.plsqlexception.description"
            icon="icons/worker.png"
            name="%plsql.resolvers.plsqlexception"
            type="plsqlexception"/>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="plsqleditor.properties.ProjectDBPropertyPage"
            id="plsqleditor.properties.databaseConnectivity"
            name="%page.name.7"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject"/>
      <page
            class="plsqleditor.properties.SchemaMappingPreferencePage"
            id="plsqleditor.properties.schemaMapping"
            name="%page.name.8"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject"/>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
         <menuContribution
            locationURI="popup:org.eclipse.ui.views.ResourceNavigator">
         <command
               commandId="plsqleditor.generateHeaderAndLoadBoth"
               label="%command.label"
               style="push">
               <visibleWhen checkEnabled="false">
				    <iterate ifEmpty="false">
				       <adapt type="org.eclipse.core.resources.IFile">
				          <test property="org.eclipse.core.resources.name" 
				                value="*.pkb"/>
				       </adapt>
				    </iterate>
				</visibleWhen>
         </command>
         </menuContribution>
         <menuContribution
               locationURI="popup:org.eclipse.ui.views.ResourceNavigator">
            <command
                  commandId="boomsticks.plsqleditor.loadSchema"
                  label="%command.label.0"
                  style="push">
            </command> 
         </menuContribution>
         <menuContribution
               locationURI="popup:org.eclipse.ui.views.ResourceNavigator">
            <command
                  commandId="boomsticks.plsqleditor.compareToDb"
                  label="%command.label.1"
                  style="push">
				<!--visibleWhen checkEnabled="false">
				      <reference
 				        definitionId="TBD">
				      </reference>
 				</visibleWhen-->
             </command>
         </menuContribution>         
         <menuContribution
               locationURI="popup:plsqleditor.views.SchemaBrowserView">
            <command
                  commandId="boomsticks.plsqleditor.loadSourceFromDb"
                  label="%command.label.2"
                  style="push">
                  <visibleWhen checkEnabled="false">
                      <reference
 				        definitionId="isSourceLoadableFromTreeObject">
				      </reference>
				    <!--iterate ifEmpty="false"> ... this works
				       <adapt type="plsqleditor.views.schema.IPackageData">
				       </adapt>
				    </iterate-->
				</visibleWhen>
            </command> 
         </menuContribution>
         <menuContribution
               locationURI="popup:plsqleditor.views.SchemaBrowserView">
            <command
                  commandId="boomsticks.plsqleditor.showGrants"
                  label="%command.label.3"
                  style="push">
				<visibleWhen checkEnabled="false">
				      <reference
 				        definitionId="isGrantLoadableFromTreeObject">
				      </reference>
 				</visibleWhen>
             </command>
         </menuContribution>
         <menuContribution
               locationURI="popup:plsqleditor.views.SchemaBrowserView">
            <command
                  commandId="boomsticks.plsqleditor.showDetails"
                  label="%command.label.4"
                  style="push">
				<visibleWhen checkEnabled="false">
				      <reference
 				        definitionId="isDetailsAvailableFromTreeObject">
				      </reference>
 				</visibleWhen>
             </command>
         </menuContribution>
   </extension>
   <extension
         id="tz"
         name="tz"
         point="org.eclipse.ui.handlers">
      <handler
            class="plsqleditor.actions.GenerateHeaderAndLoadBothToDatabaseAction"
            commandId="plsqleditor.generateHeaderAndLoadBoth">
      </handler>
      <handler
            class="plsqleditor.actions.LoadSchemaToDb"
            commandId="boomsticks.plsqleditor.loadSchema">
      </handler>
      <handler
            class="plsqleditor.actions.schemabrowser.LoadSourceFromDb"
            commandId="boomsticks.plsqleditor.loadSourceFromDb">
            <activeWhen>
	        <reference
	          definitionId="isSourceLoadableFromTreeObject">
	        </reference>
	      </activeWhen>
      </handler>
      <handler
            class="plsqleditor.actions.schemabrowser.ShowGrants"
            commandId="boomsticks.plsqleditor.showGrants">
          <activeWhen>
	        <reference
	          definitionId="isGrantLoadableFromTreeObject">
	        </reference>
	      </activeWhen>
      </handler>
      <handler
            class="plsqleditor.actions.schemabrowser.ShowDetails"
            commandId="boomsticks.plsqleditor.showDetails">
          <activeWhen>
	        <reference
	          definitionId="isDetailsAvailableFromTreeObject">
	        </reference>
	      </activeWhen>
      </handler>
      <handler
            class="plsqleditor.actions.CompareToDb"
            commandId="boomsticks.plsqleditor.compareToDb">
          <!--activeWhen>
	        <reference
	          definitionId="someDefinitionTBD">
	        </reference>
	      </activeWhen-->
      </handler>
   </extension>
   <extension
         point="org.eclipse.help.toc">
      <toc
            file="toc.xml"
            primary="true">
      </toc>
      <toc
            file="tocconcepts.xml">
      </toc>
      <toc
            file="tocgettingstarted.xml">
      </toc>
      <toc
            file="tocreference.xml">
      </toc>
      <toc
            file="tocsamples.xml">
      </toc>
      <toc
            file="toctasks.xml">
      </toc>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="%category.name.1"
            id="plsqleditor.wizards">
      </category>
      <wizard
            name="%wizard.name"
            icon="icons/at.png"
            category="plsqleditor.wizards"
            class="plsqleditor.wizards.NewPackageBody"
            id="plsqleditor.wizards.NewPackageBody">
      </wizard>
   </extension>
   
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
	  <propertyTester
	    class="plsqleditor.views.schema.DatabaseEntityTypeTester"
	    id="plsqleditor.views.schema.propertyTester.DatabaseEntityTypeTester"
	    namespace="plsqleditor.views.schema"
	    properties="isGrantLoadable,isSourceLoadable,isDetailsAvailable"
	    type="plsqleditor.views.schema.TreeObject">
	  </propertyTester>
   </extension>
   
   <extension
     point="org.eclipse.core.expressions.definitions">
     <definition
       id="isGrantLoadableFromTreeObject">
       <with variable="selection">
         <iterate
           ifEmpty="false"
           operator="and">
           <adapt
            type="plsqleditor.views.schema.TreeObject">
           </adapt>
           <test
             forcePluginActivation="true"
             property="plsqleditor.views.schema.isGrantLoadable">
           </test>
         </iterate>
       </with>
     </definition>
     <definition
       id="isDetailsAvailableFromTreeObject">
       <with variable="selection">
         <iterate
           ifEmpty="false"
           operator="and">
           <adapt
            type="plsqleditor.views.schema.TreeObject">
           </adapt>
           <test
             forcePluginActivation="true"
             property="plsqleditor.views.schema.isDetailsAvailable">
           </test>
         </iterate>
       </with>
     </definition>
     <definition
       id="isSourceLoadableFromTreeObject">
       <with variable="selection">
         <iterate
           ifEmpty="false"
           operator="and">
           <adapt
            type="plsqleditor.views.schema.TreeObject">
           </adapt>
           <test
             forcePluginActivation="true"
             property="plsqleditor.views.schema.isSourceLoadable">
           </test>
         </iterate>
       </with>
     </definition>
   </extension>
   <extension point="org.eclipse.ui.editors.markerAnnotationSpecification">
        <specification
            annotationType="plsqleditor.occurrence"
            label="%specification.label"
            icon="icons/srch.gif"
            textPreferenceKey="occurrenceIndication"
            textPreferenceValue="false"
            highlightPreferenceKey="occurrenceHighlighting"
            highlightPreferenceValue="true"
            contributesToHeader="false"
            overviewRulerPreferenceKey="occurrenceIndicationInOverviewRuler"
            overviewRulerPreferenceValue="true"
            verticalRulerPreferenceKey="occurrenceIndicationInVerticalRuler"
            verticalRulerPreferenceValue="false"
            colorPreferenceKey="occurrenceIndicationColor"
            colorPreferenceValue="255,248,147"
            presentationLayer="4"
            showInNextPrevDropdownToolbarActionKey="showOccurrenceInNextPrevDropdownToolbarAction"
            showInNextPrevDropdownToolbarAction="true"
            isGoToNextNavigationTargetKey="isOccurrenceGoToNextNavigationTarget"
            isGoToNextNavigationTarget="false"
            isGoToPreviousNavigationTargetKey="isOccurrenceGoToPreviousNavigationTarget"
            isGoToPreviousNavigationTarget="false">
        </specification>
    </extension>
</plugin>
